<footer class="c-footer">
  <nav class="c-footerMenu">
    <div class="c-footerMenu__inner">
      <div class="c-footerMenu__main">
        <ul>
          <li><a href="#">こえキャスTOP</a></li>
          <li><a href="#">新着の声</a></li>
          <li><a href="#">注目の声</a></li>
          <li><a href="#">タグ一覧</a></li>
          <li><a href="#">音声を投稿</a></li>
          <li><a href="#">リクエスト投稿</a></li>
        </ul>
      </div>
      <div class="c-footerMenu__sub">
        <ul>
          <li><a href="#">公式twitter</a></li>
          <li><a href="#">ヘルプ</a></li>
          <li><a href="#">利用規約</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="c-logoWrapper--footer">
    <a href="#" class="c-logo">
      <img src="./img/logo_footer.svg" alt="こえキャスロゴ" width="96" height="84">
    </a>
  </div>

  <small class="c-copyright">© 2018 こえきゃす All rights reserved.</small>
</footer>