<header class="c-header">
  <div class="c-menuBtn__wrapper">
    <button class="c-menuBtn">=</button>
  </div>
  <div class="c-logoWrapper">
    <a href="#" class="c-logo">
      <img src="http://via.placeholder.com/152x40?text=LOGO" alt="こえキャス">
    </a>
  </div>
  <div class="c-searchBtn__wrapper">
    <button class="c-searchBtn">+</button>
  </div>
</header>