<header class="c-header">
  <div class="c-menuBtn__wrapper">
    <button class="c-menuBtn">
      <img src="./img/icon_menu_blue.svg" alt="Menu">
    </button>
  </div>
  <div class="c-logoWrapper">
    <a href="#" class="c-logo">
      <img src="./img/logo_light.svg" alt="こえキャスロゴ" width="151" height="32">
    </a>
  </div>
  <div class="c-searchBtn__wrapper">
    <button class="c-searchBtn">
      <img src="./img/icon_search_blue.svg" alt="Search">
    </button>
  </div>
</header>