<nav class="c-nav">
  <ul>
    <li>
      <a href="#">新着の声</a>
    </li>
    <li>
      <a href="#">注目の声</a>
    </li>
    <li>
      <a href="#">タグ一覧</a>
    </li>
    <li>
      <a href="#">音声を投稿</a>
    </li>
  </ul>
</nav>